.navbar {
    background: url('night.png') no-repeat center center/cover;
    background-position: center 45%;
    height:150px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1px 0px;
    background-color: rgba(0,0,0,0.6);
    transition: background-color 0.3s ease-in-out;
    color:white;
    font-family: 'Poppins', sans-serif;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-links {
    display: flex;
    justify-content:flex-start;
    gap: 10rem;
}

.navbar-links a:last-child {
    margin-right: 500px;
}

.navbar-links a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
}

.navbar-links a.active {
    color: cornflowerblue;
    
}
.logo-image {
  height: 100px;
  width: auto;
  object-fit: contain;
  display: block;
}